<div ng-hide="attrs.id">
  <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>
</div>
<div ng-show="attrs.id">
  <div>
      <button 
      class="buybutton" 
      ng-click="ngCart.addItem(id, name, price, q, data)"
      ng-transclude
      ng-hide="inCart()">Купить</button>
    
      <md-button class="headerbuybutton" ng-hide="inCart()" style="color: rgb(255, 255, 255); background: rgb(76, 175, 80); "
      ng-click="ngCart.addItem(id, name, price, q, data)"
      ng-transclude
      >Купить</md-button>
      <!-- <a class="btn btn-sm btn-primary"
         ng-click="ngCart.addItem(id, name, price, q, data)"
         ng-transclude></a> -->
  </div>
  <div class="incart">
      <mark  ng-show="inCart()">
          В <a href="/cart">корзине</a> | <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">&times; </a>
      </mark>
  </div>
</div>